@model DataTable
@using System.Data
@{
    ViewData["Title"] = "Home Page";
 
}

<div>

<li>
    <ul>
    <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
            BUSCAR/NUEVO
            @ViewBag.SessionName 
        <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
    </form>
        </ul>
</li>

</div>
@Html.Partial("PacienteView")