
@{
    ViewData["Title"] = "InsertInfouserView";
}




<div class="white-box bg-theme m-b-0">
    <div class="city-weather-widget">
        <h1>Agregar Nuevo paciente</h1>
        
        <div class="col-sm-6">
            <div class="white-box">
                <h3 class="box-title">Success Table</h3>
                <p class="text-muted">Add class <code>.full-color-table .full-success-table .hover-table</code></p>
                <div class="table-responsive">
                    <table class="table full-color-table full-success-table hover-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nigam</td>
                                
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Deshmukh</td>
                              
                                
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Roshan</td>
                             
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        
          
        </div>
    </div>
</div>

